- if article_for_list.importance == "Small"
  - template = Liquid::Template.parse(@tmplate.small_article_for_index.gsub('article.author', 'author'))
- elsif article_for_list.importance == "Medium"
  - template = Liquid::Template.parse(@tmplate.medium_article_for_index.gsub('article.author', 'author'))
- elsif article_for_list.importance == "Large"
  - template = Liquid::Template.parse(@tmplate.large_article_for_index.gsub('article.author', 'author'))

= template.render( 'article' => article_for_list, 'blurb' => ninja_parse(article_for_list.blurb), 'title' => (link_to(article_for_list.title, article_path(article_for_list))), 'author' => (render :partial => "articles/article_author", :locals => { :article => article_for_list}), 'date' => article_for_list.published_at.strftime("%b %d, %Y"), 'time' => article_for_list.published_at.strftime("%I:%M %p"), 'body' => ninja_parse(article_for_list.body), 'attachments' => (render :partial => "articles/article_attachments", :locals => { :article => article_for_list }), 'feed_link' => "<p>#{link_to("Continue reading original article.", article_for_list.source_url)}</p>", 'article_path' => article_path(article_for_list) )

