- if CMS_CONFIG['modules']['profiles']
  - if article.person.profile.blank?
    == #{link_to h(article.person.name), articles_path(:author => article.person.id)}
  - else
    == #{link_to h(article.person.name), article.person.profile}
- else
  == #{link_to h(article.person.name), articles_path(:author => article.person.id)}