- acs = article.article_category_id.blank? ? article.article_categories.active : article.article_categories.active.reject { |c| c.id == article.article_category_id }
- if !article.article_category.blank? or !acs.empty?
  - if !article.article_category.blank?
    = link_to(article.article_category.title, article.article_category) + (acs.empty? ? "" : ", ")
  == #{acs.map { |c| link_to(h(c.name), c) }.join(", ")}
- if article.comments_count > 0
  = article.comments_count == 1 ? icon("Bubble 1") : icon("Discuss")
  = link_to pluralize(article.comments_count, 'comment'), article_path(article) << '#comments_list'